@page
@model CacheAsideExample.Pages.CreateModel

@{
    ViewData["Title"] = "Add Exchange Rate";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ExchangeRate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExchangeRate.Date" class="control-label"></label>
                <input asp-for="ExchangeRate.Date" class="form-control" />
                <span asp-validation-for="ExchangeRate.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeRate.Currency" class="control-label"></label>
                <input asp-for="ExchangeRate.Currency" class="form-control" />
                <span asp-validation-for="ExchangeRate.Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeRate.Rate" class="control-label"></label>
                <input asp-for="ExchangeRate.Rate" class="form-control" />
                <span asp-validation-for="ExchangeRate.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
